.messageBox {
  max-width: 200px;
  height: auto;
  padding: 5px;
  border: none;
  border-radius: 20px;
  background-color: lightblue;
  align-items: center;
  align-content: center;

  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.messageBox__ingoing {
  background-color: lightgreen;
}

.paragraphMessage {
  padding: 1px 5px;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1.2rem;
  /* overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
}
