.messageChat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messageWithTime{
  display: flex;
  flex-direction: column;
  text-align: end;
}

.systemMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileAvatarIcon {
  height: 35px;
  width: 35px;
}

.likeIcon {
  cursor: pointer;
}

.likeIcon__active {
  stroke: red;
  fill: red;
  stroke-linecap: round;
  overflow: hidden;
}
