.containerChat {
  display: flex;
  justify-content: center;
  justify-items: center;
  background: radial-gradient(circle, #0ebeff, #917ad6);
  gap: 30px;
  height: 100vh;
}


.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
