.topWindowChat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(180deg, #2d2d2d 0%, #000000 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.leftTopWindow {
  display: flex;
  align-items: center;
}

.boxRoomName {
  display: flex;
  padding: 10px;
  align-items: center;
  font-weight: 500;
  font-family: monospace, sans-serif;
  font-size: 18px;
  color: aliceblue;
}

.status {
  position: relative;
  top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
  margin-left: 10px;
}

.menuBtn {
  border: none;
  padding: 0;
  background:none;
  cursor: pointer;
}
