.chatRoom {
  display: flex;
  flex-direction: column;
  height: 95dvh;
  width: 97%;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #000;
  margin: 10px;
  z-index: 0;
  transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out; /* Add transition */
}

.bodyChatRoomContainer.blurEffect {
  opacity: 0.5;
  pointer-events: none;
  filter: blur(5px);
}

.bodyChatRoomContainer {
  display: flex;
  height: 85%;
}

.bodyChatRoom {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: 10px;
  margin: 5px;
  gap: 3px;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-radius: 20px;
  border: none;
  scrollbar-width: thin;
}

.sendButtonIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
}

.footerWindowChat {
  display: flex;
  padding: 5px;
  gap: 3px;
  background: linear-gradient(180deg, #0a0a0a 100%, #2d2d2d 0%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footerWindowChat.blurEffect {
  opacity: 0.5;
  pointer-events: none;
  filter: blur(5px);
}

.hallRoom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 5px;
  gap: 3px;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-radius: 20px;
  border: none;
  scrollbar-width: thin;

  align-items: center;
}

.roomBtn {
  width: 100px;
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}
